*
 {
    background-color:rgb(36, 31, 31);
    color: rgba(245, 245, 245, 0.699);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;

}

h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 35px;
    font-weight: 500;m

}
li{
    font-size:large;
    text-decoration: none;
    font: weight 600px;;
}
 img{
    width: 500px;
    height:auto;
    border-radius: 1rem;
 }